body{
  font-size: 0.875rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 2em;
}
.index-content-title,
.title{
  font-size: 1.875rem;
  line-height: 1.4em;
}

.content-title{
  font-size: 1.5rem;
  line-height: 1.25em;
}
